@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

h1 {
  text-align: center;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: black;
  height: 100vh;
  background-image: linear-gradient(#3b0c78,  #3f82e8, #001359);
  background-repeat: no-repeat;
  background-size: cover; 
  color: white;
}

.task {
  background-color: rgba(46, 0, 69, 0.3);
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  margin-top: 5px;
  width: calc(100% - 20px);
  height: 11vh;
  padding: 5px;
}

.task:hover {
  transform: scale(1.005);
  transition: 0.2s ease-in-out;
}

.task:hover > button {
  border-radius: 100px;
  right: 5px;
  background-color: #800901;
}

.task p {
  position: relative;
  overflow: hidden;
  max-width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  right: 18px;
  position: absolute;
  color: #c2c2c2;
  border: none;
  background-color: transparent;
}
.task button:hover {
  opacity: 70%;
  transition: 0.1s ease-in-out;

}

#inputAddDiv {
  display: flex;  
}

#inputBox {
  width: 91%;
}

#addBtn {
  flex-grow: 1;
}

.star {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}